<a href="https://colab.research.google.com/github/eunjin917/PnuFintechCompetition/blob/main/Colab/make_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from datetime import datetime, timedelta
import urllib
from urllib.parse import quote
import requests
import json
import pandas as pd 


def date_range(start, end):
    start = datetime.strptime(start, "%Y%m%d")
    end = datetime.strptime(end, "%Y%m%d")
    dates = [(start + timedelta(days=i)).strftime("%Y%m%d") for i in range((end-start).days+1)]
    return dates

-	서울가락도매시장에서 한국청과 법인의 풋고추(특) 검색시 사용 코드

In [ ]:
def date_range(start, end):
    start = datetime.strptime(start, "%Y%m%d")
    end = datetime.strptime(end, "%Y%m%d")
    dates = [(start + timedelta(days=i)).strftime("%Y%m%d") for i in range((end-start).days+1)]
    return dates

marketname = "서울가락도매"
coname_c = "한국청과"
mclassname = "풋고추"
sclassname = "청양"
gradename = "11"  # 등급 특 - 11 ,상 - 12 , 보통 13 
grade ="특"

marketname_info = "&PBLMNG_WHSAL_MRKT_NM=" + marketname
coname_info_c = "&CPR_NM=" + coname_c
mclassname_info="&PRDLST_NM=" + mclassname
sclassname_info="&SPCIES_NM=" + sclassname
gradename_info="&GRAD_CD="+gradename

datas = [] # 가져온 데이터를 pandas 형태로 저장 
datelist = [] 
dates = date_range("20230101","20230119")  # 탐색 범위(처음,끝)

for date in dates: 
  url = "http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?"
  date_info = "&DELNG_DE="+ date
  
  url = url + date_info + mclassname_info + sclassname_info + marketname_info + coname_info_c + gradename_info
  print(url)
  url_encoded_n= quote(url, safe=':/=?&')
  response = requests.get(url_encoded_n)
  contents = response.text
  data = json.loads(contents)
  stat = data['Grid_20180118000000000581_1']['row']

  if stat == [] : #없으면 건너뛰기
    continue

  else : #해당 날짜에 데이터 있으면 추가
    datas.append(stat)

  df = pd.DataFrame() # 가지고 온 데이터 pandas 형태로 변환 
  for i in range(len(datas)):
    datas[i] = pd.DataFrame(datas[i])
    df = pd.concat([df,datas[i]] ,ignore_index = True)

http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230101&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230102&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230103&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230104&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230105&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230106&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230107&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230108&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230109&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230110&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230111&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230112&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230113&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230114&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230115&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230116&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230117&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230118&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11
http://211.237.50.150:7080/openapi/d60c7fa3f4501f62dbd2ca000625a2d12b764928e9a2cd513dfacb4d628991c5/json/Grid_20180118000000000581_1/1/1000?&DELNG_DE=20230119&PRDLST_NM=풋고추&SPCIES_NM=청양&PBLMNG_WHSAL_MRKT_NM=서울가락도매&CPR_NM=한국청과&GRAD_CD=11

In [ ]:
datas[0]

,ROW_NUM,DELNG_DE,PBLMNG_WHSAL_MRKT_NM,PBLMNG_WHSAL_MRKT_CD,CPR_NM,CPR_CD,RISENO,BIDTIME,AUC_SE_CODE,AUC_SE_NM,...,STNDRD_CD,GRAD,GRAD_CD,SHIPMNT_SE_CODE,SHIPMNT_SE_NM,SANJI_CD,SANJI_NM,CPR_USE_SANJI_CD,CPR_USE_SANJI_NM,DELNG_QY
0,1,20230105,서울가락도매,110001,한국청과,11000105,1,20230105,1,경매,...,120100,특,11,,,627000,경남 밀양시,,,19
1,2,20230105,서울가락도매,110001,한국청과,11000105,1,20230105,1,경매,...,120100,특,11,,,660000,경남 진주시,,,8
2,3,20230105,서울가락도매,110001,한국청과,11000105,1,20230105,1,경매,...,120100,특,11,,,660000,경남 진주시,,,6
3,4,20230105,서울가락도매,110001,한국청과,11000105,1,20230105,1,경매,...,120100,특,11,,,660000,경남 진주시,,,17
4,5,20230105,서울가락도매,110001,한국청과,11000105,1,20230105,1,경매,...,120100,특,11,,,660000,경남 진주시,,,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,108,20230105,서울가락도매,110001,한국청과,11000105,1,20230105,1,경매,...,120100,특,11,,,503000,광주 광주 남구,,,8
108,109,20230105,서울가락도매,110001,한국청과,11000105,1,20230105,1,경매,...,120100,특,11,,,585000,전북 고창군,,,31
109,110,20230105,서울가락도매,110001,한국청과,11000105,1,20230105,1,경매,...,120100,특,11,,,585000,전북 고창군,,,3
110,111,20230105,서울가락도매,110001,한국청과,11000105,1,20230105,1,경매,...,120100,특,11,,,660000,경남 진주시,,,-13
111,112,20230105,서울가락도매,110001,한국청과,11000105,1,20230105,1,경매,...,120100,특,11,,,660000,경남 진주시,,,12

법인별 해당 품종의 해당 거래일의 최고가, 최저가, 평균가 구하기

In [ ]:
data = df[['DELNG_DE','DELNGBUNDLE_QY','PRICE']] #필요한 칼럼만 선택
data['DELNGBUNDLE_QY'] = data['DELNGBUNDLE_QY'].astype('float')
data['PRICE'] = round(data['PRICE']/data['DELNGBUNDLE_QY'], 2) # 1KG 기준으로 판매가를 조정해줌  
data['DELNGBUNDLE_QY'] = "1KG"
data['DELNG_DE']=pd.to_datetime(data['DELNG_DE'], format='%Y%m%d') 
new_data = data
new_data['PRI_MAX'] = data.groupby('DELNG_DE', as_index=False)['PRICE'].transform('max')
new_data['PRI_MIN'] = data.groupby('DELNG_DE', as_index=False)['PRICE'].transform('min')
new_data['PRI_AVE'] = data.groupby('DELNG_DE', as_index=False)['PRICE'].transform('mean')
new_data = new_data.groupby('DELNG_DE', as_index=False).mean()
new_data['MRKT_NM'] =marketname
new_data['CPR_NM'] =coname_c
new_data['PRDLST_NM'] =mclassname
new_data['SPCIES_NM'] =sclassname
new_data['GRAD'] = grade
new_data['weight'] ="1KG"
new_data = new_data[['DELNG_DE','MRKT_NM','CPR_NM','PRDLST_NM','SPCIES_NM','GRAD','weight','PRI_MAX','PRI_MIN','PRI_AVE']]

In [ ]:
new_data.head()

,DELNG_DE,MRKT_NM,CPR_NM,PRDLST_NM,SPCIES_NM,GRAD,weight,PRI_MAX,PRI_MIN,PRI_AVE
0,2023-01-05,서울가락도매,한국청과,풋고추,청양,특,1KG,8800.0,1550.0,6654.910714
1,2023-01-06,서울가락도매,한국청과,풋고추,청양,특,1KG,8300.0,2100.0,6628.571429
2,2023-01-07,서울가락도매,한국청과,풋고추,청양,특,1KG,7600.0,2100.0,6227.713140
3,2023-01-11,서울가락도매,한국청과,풋고추,청양,특,1KG,7800.0,2200.0,5917.229730
4,2023-01-13,서울가락도매,한국청과,풋고추,청양,특,1KG,8500.0,1875.0,5763.081395